@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouses {
  &__stock {
    @include flex(left, flex-start, column);
    width: 100%;
    margin-top: 2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-bottom: 1px solid #bdc5d5;
    @include tablet {
      @include flex(space-evenly, center, row);
    }
  }

  &__main-info-wrapper {
    @include flex(space-between, flex-start, row);
    width: 100%;
    margin-bottom: 2rem;
  }

  &__name-add-wrapper {
    @include flex(left, flex-start, column);

    @include tablet {
      @include flex(left, flex-start, row);
      width: 50%;
    }
  }

  &__contact-wrapper {
    @include flex(left, flex-start, column);
    margin-right: 2rem;

    @include tablet {
      @include flex(left, flex-start, row);
      width: 50%;
    }
  }

  &__facts {
    @include flex(left, flex-start, column);
    margin-bottom: 1rem;
    height: 4.5rem;

    @include tablet {
      width: 50%;
    }
  }

  &__subtitle {
    @include body-medium;
    color: $secondary-color;
    margin-bottom: 1rem;
  }
  &__info {
    font-size: 1.5rem;
    line-height: 1.5rem;

    &-chevron {
      height: 1.5rem;
    }
  }

  &__link-wrapper {
    @include flex(left, flex-start, row);
  }

  &__description {
    text-decoration: none;
    color: $primary-color-alt;
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: relative;
  }

  &__action-wrapper {
    @include flex(space-between, flex-start, row);
    width: 100%;
    margin-bottom: 2.7rem;
    @include tablet {
      @include flex(right, flex-start, row);
      width: fit-content;
    }
  }

  &__delete {
    @include tablet {
      margin-right: 1rem;
    }
  }

  &__edit {
  }
}
