@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-list-item {
  @include flex(null, null, column);
  padding: 1.6rem;
  border-bottom: 1px solid #bdc5d5;
  position: relative;
  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 0 3.2rem;
    margin-top: 1rem;
  }

  &__text {
    @include flex();
    @include tablet {
      flex-grow: 1;
      justify-content: space-evenly;
      position: relative;
    }
  }

  &__text-inner {
    margin-right: 4rem;
    @include tablet {
      @include flex(null, null, center);
      width: 50%;
      margin-right: 0;
    }
  }

  &__category {
    margin-bottom: 1.6rem;
    @include tablet {
      @include flex(null, center, center);
      width: 50%;
    }
  }

  &__mini-header {
    text-transform: uppercase;
    color: $secondary-color;
    @include tablet {
      display: none;
    }
  }

  &__link {
    @include flex(null, center);
    text-decoration: none;
    @include body-small;
    @include tablet {
      width: 100%;
    }
  }

  &__link-text {
    color: $primary-color-alt;
  }

  &__status {
    @include body-medium;
    color: $supporting-color;
    border-radius: 20px;
    padding: 0.4rem 0.8rem;
    background: rgba(21, 132, 99, 0.07);
    &--out {
      color: $supporting-color-alt;
    }
    @include tablet {
      padding: 0;
    }
  }

  &__data {
    @include body-small;
    color: $secondary-color;
    @include tablet {
      width: 200%;
    }
  }

  &__buttons {
    @include flex(space-between);
  }

  &__delete {
    cursor: pointer;
  }
}
