@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.wrapper {
  margin: $mobiile-margin;

  @include tablet {
    margin: $tablet-margin;
  }

  @include desktop {
    margin: $desktop-margin;
  }
}
.add-stock {
}
