$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-wrapper-width: 102rem;

$mobile-margin: 0 1.6rem;
$tablet-margin: 0 3.6rem;
$desktop-margin: auto;

$primary-color: #13182c;
$primary-color-alt: #2e66e5;
$primary-white: #ffffff;

$secondary-color: #5c667e;
$secondary-color-alt: #bdc5d5;

$background-color: #232940;
$background-color-alt: #f7f8f9;

$supporting-color: #158463;
$supporting-color-alt: #c94515;

$divider: 1px solid $secondary-color-alt;
