@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-list {
  &__category-header-wrapper {
    display: none;
    padding: 1.1rem 3.2rem;
    background: rgba(247, 248, 249, 0.7);
    text-transform: uppercase;
    @include tablet {
      @include flex(space-around, center);
      width: 100%;
      padding: 0;
    }
  }

  &__container {
    @include flex(space-between);
    padding: 0;
    width: 45%;
    &--1 {
      width: 60%;
    }
    &--2 {
      width: 35%;
    }
  }

  &__category-box {
    @include flex(space-evenly, center);
    width: 30%;
    &--2 {
      width: 50%;
    }
  }

  &__category-header {
    text-transform: capitalize;
  }
}
