@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-list {
  &__category-header-wrapper {
    display: none;
    padding: 1.1rem 3.2rem;
    background: rgba(247, 248, 249, 0.7);
    text-transform: uppercase;
    @include tablet {
      @include flex(null, center);
      width: 100%;
    }
  }

  &__category-box {
    @include flex(null, center);

    &--status {
    }
  }
}
