@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-inventory-list {
  &__category-header-wrapper {
    display: none;
    margin: 3.2rem;
    padding: 1.1rem 3.2rem;
    background: rgba(247, 248, 249, 0.7);
    @include tablet {
      @include flex(flex-start, center);
    }
  }

  &__category-box {
    flex-grow: 1;
    @include flex(null, center);

    &--status {
      flex-grow: 2;
    }

    &--actions {
      flex-grow: 0;
    }
  }
}
