@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouses {
  &__title {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    color: $primary-color;
    padding-bottom: 1.6rem;
    @include tablet {
      padding-bottom: 0;
      margin-right: auto;
    }
  }

  &__search {
    padding: 0 1.6rem;
    @include flex(left, flex-start, column);
    flex-wrap: wrap;
    // margin: 1rem 0;
    width: 100%;

    @include tablet {
      @include flex(left, center, row);
    }

    &-icon {
      padding-left: 2rem;
      background-image: url(../../assets/Icons/search-24px.svg);
      background-repeat: no-repeat;
      background-position: top 58% right 6%;
    }
  }

  &__text {
    @include form-input;

    @include tablet {
      width: 27rem;
    }

    @include desktop {
      width: 34rem;
    }
  }

  &__btn {
    @include button;
    @include flex(center, center, row);
    background-color: $primary-color-alt;
    color: $primary-white;
    text-decoration: none;
    margin: 1.6rem 0 2.4rem;

    @include tablet {
      margin: 0 2rem;
      width: 15rem;
      font-size: 1.2rem;
    }
  }
}
