@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $background-color;
  padding: 3rem 1.6rem 0;
  padding-top: 3rem;
  @include flex(flex-start, center, column);
  height: 20rem;

  &__logo {
    width: 9rem;
    margin-bottom: 2rem;
  }

  &__links {
    width: 100%;
    @include flex(space-between);
  }

  &__link {
    @include button;
    color: $secondary-color-alt;
    text-decoration: none;
    @include flex(center, center);
  }
}

.active {
  color: $primary-white;
  background-color: $primary-color;
}
