@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-info {
  &__container {
    border-bottom: 1px solid #bdc5d5;

    @include tablet {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-right: 1.6rem;
    }
  }
  &__title {
    padding-left: 5rem;
    padding-right: 1.6rem;
    color: #13182c;
    padding-top: 2rem;
    font-size: 2.8rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 3rem;
  }

  &__arrow {
    background-image: url(../../assets/Icons/arrow_back-24px.svg);
    background-repeat: no-repeat;
    background-position: 2rem 2rem;
    background-size: 2.5rem;
  }
  &__edit {
    position: relative;
    left: 24.6rem;
    bottom: 5rem;
    background-color: $primary-color-alt;
    border-radius: 50%;
    padding: 0.5rem;

    @include tablet {
      position: static;
      border-radius: 3rem 3rem 3rem 3rem;
      padding: 0.5rem;
      height: 3.5rem;
      width: 8rem;
      display: flex;
    }
  }
  &__pen {
    position: relative;
    top: 5px;
    left: 0rem;

    @include tablet {
      top: 0;
      left: 0.5rem;
    }
  }

  &__editPen {
    display: none;

    @include tablet {
      display: inline-block;
      margin-top: 0rem;
      color: $primary-white;
      padding-left: 1rem;
      font-size: 1.4rem;
    }
  }

  &__section {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &__subtitle {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    color: $secondary-color;
    margin: 3rem 0 0.5rem;

    @include tablet {
      margin-top: 0rem;
      padding-left: 3.2rem;
      padding-right: 3.2rem;
      font-size: 1.1rem;
    }
  }
  &__details {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    color: $primary-color;
    font-size: 1.2rem;
    line-height: 1.5rem;

    @include tablet {
      padding-left: 3.2rem;
      padding-right: 3.2rem;
      font-size: 1.3rem;
    }

    @include desktop {
      line-height: 2.2rem;
    }
  }

  &__address {
    @include tablet {
      width: 42%;
    }
  }

  &__stock {
    display: flex;
    margin: 1rem 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;

    @include tablet {
      border-left: 1px solid #bdc5d5;
    }
  }
  &__facts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 49%;
  }
}
