@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  color: $secondary-color;
  background-color: $background-color-alt;
  padding: 4rem 0;
  text-align: center;

  @include desktop {
    padding: 4.8rem 0;
  }

  &__text {
    @include body-small;
  }
}
