@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  @include tablet {
    padding: 18.5rem 4.8rem 57.7rem;
    background: rgba(($primary-color), 0.7);
    width: 100%;
  }
  @include desktop {
    padding: 18.5rem 30.4rem;
    height: 100vh;
  }

  &__wrapper {
    background: $primary-white;
    padding: 6rem 1.6rem;
    width: 100%;
    height: 100vh;
    position: relative;
    @include tablet {
      height: 60vh;
      padding: 4rem 6.4rem;
    }
    @include desktop {
      height: 30vh;
    }
  }
  &__close {
    position: absolute;
    top: 2.1rem;
    right: 2.1rem;
    &:hover {
      cursor: pointer;
    }
    @include tablet {
      position: absolute;
    }
  }
  &__header {
    margin-bottom: 1.6rem;
  }

  &__buttons {
    @include flex();
    position: absolute;
    bottom: 2.4rem;
    width: 100%;
    @include tablet {
      width: 25%;
      position: absolute;
      right: 6.4rem;
      bottom: 4rem;
    }
  }

  &__button {
    @include button;
    border: 0.1rem solid $secondary-color-alt;
    width: 40%;
    @include flex(center, center);

    &--cancel {
      color: $secondary-color;
      background-color: $primary-white;

      &:hover {
        color: $primary-color-alt;
        background-color: $primary-white;
        border: 1px solid $primary-color-alt;
      }
    }

    &--delete {
      position: absolute;
      right: 3rem;
      background-color: $supporting-color-alt;
      color: $primary-white;
      border: none;
    }
  }

  // &__button-text {
  //   @include flex(center, center);
  //   width: 90%;

  //   &--delete {
  //     color: $primary-white;
  //   }
  // }
}
